<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}

    {% if page.toc==true %}
      <aside class="toc">
        {% include toc.html html=content %}
      </aside>
    {% endif %}

    <div id="main" role="main" class="wrapper-content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include analytics.html %}

    <!-- 引入 Mermaid -->
    <script src="https://unpkg.com/mermaid@8.9.3/dist/mermaid.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        mermaid.initialize({
          startOnLoad: true,
          theme: "default",
        });
        mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
      });
    </script>

  </body>

  {% if page.toc==true %}
  <script>
    document.getElementById("main").classList.add("withtoc");
  </script>
  {% endif %}

  <div class="wrapper-footer-mobile">
    <footer class="footer">
      {% include footer.html %}
    </footer>


</html>
